
@font-face {
    font-family: 'moderat-bold';
    src: url(/fonts/moderat-bold.7586444-webfont.woff);
}

@font-face {
    font-family: 'moderat-light';
    src: url(/fonts/moderat-light.802cb86-webfont.woff);
}

@font-face {
    font-family: 'moderat-medium';
    src: url(/fonts/moderat-medium.5124209-webfont.woff);
}

@font-face {
    font-family: 'moderat';
    src: url(/fonts/moderat-regular.21e2262-webfont.woff);
}

.container{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}
.containerDropdown{
    margin-left: 5em;
    background-color: red;

}
.like{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likeIcon{
    font-size: 25px;
    cursor: pointer;
    color: skyblue;
}
.likeIcon:hover{
    color: red;
}
.cartIcon{
    padding-left: 1em;
}
 .containerLinks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
} 
.link{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    padding-right: 1em;
    text-decoration: none;
    font-size: 20px;
    font-family: 'moderat-light';
    cursor: pointer;
}
.link:hover{
    color: black;
}
.headerDropdown{
    background-color: skyblue;
    width: 100%;
    color: white;
}
.headerDropdown ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 22px 0px;
}

.headerDropdown ul li:hover {
    color: rgba(128, 128, 128, 0.359);
}
.dropdown3{
    position: relative;
}
.dropdown3:hover>ul{
    visibility: visible;
    opacity: 1;
}
.dropdown3 ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: skyblue;
    visibility: hidden;
    opacity: 0;
    transition: .1s;
    margin: 10px;
    width: 260px;
    left: -5px;
    border-radius: 12px;
    row-gap: 1em;
}

.menu{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    left: 0;
    top: 0;
    z-index: 20;
    display: none;
}
.menu h2{
    margin: 1em;
}
.return{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* For desktop: */
@media (min-width: 992px) {
    
  }
  
  /* For tablet: */
  @media (min-width: 768px) and (max-width: 991px) {
   
  }
  
  /* For mobile: */
  @media (max-width: 767px) {
    
.container{
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0px;
}
.likeIcon{
    font-size: 25px;
    cursor: pointer;
    /* background-color: red; */
    color: skyblue;
}
.likeIcon:hover{
    color: red;
}
.link{
font-size: 20px;
color: white;
}
.menu{
    background-color: rgb(64, 193, 244);
}
.headerDropdown{
    background-color: skyblue;
    margin-top: 5em;
}
.headerDropdown ul{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.headerDropdown ul li{
    padding-left: 1em;
}
.headerDropdown ul li:hover {
    color: black;
    text-decoration: underline;
}
.dropdown3{
    position: relative;
}
.dropdown3:hover>ul{
    visibility: visible;
    opacity: 1;
}
.dropdown3 ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 40px;
    background-color: rgb(74, 150, 181);
    visibility: hidden;
    transition: .1s;
    border-radius: 12px;
}
.enter{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 2em;
    left: 1em;
}
  }