
@font-face {
    font-family: 'moderat-bold';
    src: url(/fonts/moderat-bold.7586444-webfont.woff);
}

@font-face {
    font-family: 'moderat-light';
    src: url(/fonts/moderat-light.802cb86-webfont.woff);
}

@font-face {
    font-family: 'moderat-medium';
    src: url(/fonts/moderat-medium.5124209-webfont.woff);
}

@font-face {
    font-family: 'moderat';
    src: url(/fonts/moderat-regular.21e2262-webfont.woff);
}

.mainContainer {
    width: 100%;
    margin-top: 2em;
    background-color: #f8f9fa;
    padding: 20px 0;
    color: #212529;
  }
  
  .main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer {
    list-style: none;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  
  .footer h5:hover{
    text-decoration: underline;
    cursor: pointer;
    color: skyblue;
  }
  .conditions {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #dee2e6;
    padding-top: 20px;
  }
  
  .conditions ul {
    list-style: none;
    display: flex;
    gap: 2em;

  }
  
  .conditions li {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .conditions li:hover {
    color: skyblue;
  }
  